# Ignorar dependências e logs
node_modules
npm-debug.log

# Ignorar a pasta de build (o Docker irá criá-la)
dist

# Ignorar ficheiros do Git e do sistema
.git
.gitignore

# Ignorar ficheiros de ambiente local
.env